<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test oil</title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
                integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
                crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
                integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <div id="apartments-list">
            <ul class="list-group">
                <li v-for="(item, index) in apartmentsItems" class="container list-group-item bg-light">
                    <div class="row">
                        <div class="col-2"><img src="" alt="img holder"></div>
                        <div class="col-10">
                            <div class="row">
                                <div class="col-12">
                                    <span class="text-uppercase ">Квартира № </span>
                                    <span class="value">{{ index }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-uppercase">
                                    <span class="text-uppercase font-weight-bold">Характеристики:</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <div v-if=" item.rc !== undefined">
                                        <span class="text-uppercase ">Комнат:</span>
                                        <span class="value">{{ item.rc }}</span>
                                    </div>
                                    <div v-if=" item.sq !== undefined">
                                        <span class="text-uppercase ">Площадь:</span>
                                        <span class="value">{{ item.sq }}</span>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div v-if=" item.st !== undefined">
                                        <span class="text-uppercase ">Наличие:</span>
                                        <span v-if=" item.st == 0" class="value">НЕ В НАЛИЧИИ</span>
                                        <span v-if=" item.st == 1" class="value">ЕСТЬ</span>
                                        <span v-if=" item.st == 2" class="value">БРОНЬ</span>
                                    </div>
                                    <div v-if=" item.tc !== undefined">
                                        <span class="text-uppercase ">Цена:</span>
                                        <span class="value">{{ formatPrice(item.tc) }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>